.mobile-block {
  display: none; }

@media (max-width: 1200px) {
        
}

@media (max-width: 992px) {
/*
    
*/
}

@media all and (max-width: 768px) {
    .navbar-light .navbar-toggler {
        margin: 0 auto;
    }
    div#navbarTogglerDemo03 {
        background: #fff;
        padding: 30px;
        z-index: 99999999999999999;
        background-color: #fff;
    }
    .circle-progress {
        transform: translate(-50%, -50%) scale(.6);
    }
    .hours-features-area {
        text-align: center!important;
    }
    .hours-features-area:before {
        width: 100%;
        height: 48%;
    }
    .hours-features-area:after {
        display: none;
    }    
    .open-hourse {
        padding-bottom: 100px;
    }
    .features {
        padding-left: 0;
        padding-top: 100px;
    }
    .open-hourse p.phone {
        padding-left: 0;
        font-size: 35px;
    }
    .open-hourse p.phone span {
        position: static;
    }
    .feature-single {
        margin-top: 50px;
    }
    .about-us-text {
        margin-bottom: 100px;
    }
    .testimonial-carousel {
        margin-bottom: 100px;
    }
    .testimonial-carousel .owl-dots {
        margin-left: 95px;
    }
    .ps-sec {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding: 100px 0;
    }
    .services-right {
        display: none;
    }
    .docotors-speech.speech-carousel {
        text-align: center!important;
        margin-top: 100px;
        padding-left: 0;
    }
    .docotors-speech.speech-carousel .text-right {
        text-align: center!important;
    }
    .speech-carousel .owl-nav {
        text-align: center;
    }
    .speech-carousel .owl-nav div {
        margin-left: 0;
        margin: 0 15px;
    }
    
    
    .address-area.pd-tb-150 {
        padding-top: 0;
    }
    .contact-address-info {
        padding-left: 0;
        padding-top: 150px;
    }
    .map-wrap {
        position: static;
        width: 100%;
        height: 360px;
    }
    .address-area::before {
        width: 100%;
    }
    .footer-widget.instagram {
        text-align: right;
    }
    .footer-instagram a {
        margin-right: 0;
        margin-left: 15px;
    }
    .order-md-3 {
        order: 3;
    }
    .footer-widget.about-physio {
        text-align: center;
        margin-top: 100px;
    }

}

@media (max-width: 767px) {
    ol {
        margin: 0;
        padding: 0;
    }
    .pd-tb-150 {
        padding: 100px 0 !important;
    }
    .pd-tb-120 {
        padding: 120px 0 !important;
    }
    .hero-area {
        height: 720px;
    }
    .hero-content h2 {
        font-size: 38px;
    }
    .hours-features-area:before {
        height: 38.5%;
    }
    .open-hourse h2, .features h2 {
        font-size: 90px;
    }
    .about-us-area {
        text-align: center!important;
    }
    .about-us-text h2 {
        width: 100%;
    }
    .card.about-us-single {
        margin: 15px 0;
    }
    .banner-area {
        height: 480px;
    }
    .banner-text p {
        color: #ccc;
    }
    .banner-text h2 {
        font-size: 45px;
    }
    .testimonial-carousel .owl-dots {
        margin-left: 50px;
    }
    .address-area.pd-tb-150 {
        padding: 0 0 !important;
    }
    .contact-address-info {
        padding-bottom: 100px;
    }
    .single-counter {
        margin: 30px 0;
    }
    .text-bottom-left h1 {
        display: none;
    }
 
    .ps-text .text-muted {
        width: auto;
        height: auto;
        margin-bottom: 15px;
    }
    .single-post {
        padding-left: 70px;
        margin: 15px 0;
    }
    .post-day {
        font-size: 53px;
    }
    .post-month {
        font-size: 12px;
    }
    .post-meta {
        margin-bottom: 15px;
    }
    .post-meta li {
        padding-right: 0;
        font-size: 12px;
    }
    .single-post .inline-btn {
        margin-top: 10px;
        display: block;
    }
    .text-bottom-left {
        right: -5px;
        bottom: -155px;
    }
    .footer-widget {
        text-align: center;
    }
    .footer-widget.instagram {
        margin-top: 70px;
        text-align: center;
    }
    .footer-instagram a {
        margin-right: 0;
        margin-left: 0;
        margin: 0 15px;
    }
    .copyright-text {
        padding: 0 30px;
    }

}
/*# sourceMappingURL=responsive.css.map */