@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,800&amp;family=Oswald:wght@300;400;500;600;700&amp;family=Raleway:ital,wght@0,400;0,600;0,700;0,800;0,900;1,300&amp;display=swap');
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
*/
body{
    color: #A1A1A1;
    font-size: 14px;
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    line-height: 1.7;
}
p {
    margin: 0 0 15px;
    line-height: 24px;
}
p:last-child {
    margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    color: #000;
    font-weight: 700;
    margin-bottom: 15px;
}
a:hover{
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
a:focus, button:focus {
    outline: 0;
}


















.pd-tb-150 {
    padding: 150px 0;
}
.pd-b-150 {
    padding-bottom: 150px;
}

.section-title {
    margin-bottom: 70px;
}
.section-title h2 {
    font-size: 30px;
}
.section-title p {
    font-style: italic;
}
.section-title img {
    margin-top: 35px;
}
.title-blue {
    color: #0F4B87;
}
.bg-sky-blue{
    background-color: #008FE3;

}
.bg-blue {
    background-color: #0F4B87;
}
.bg-blue h4,
.bg-blue h2,
.bg-blue p {
    color: #fff;
}
.bg-blue h4 span {
    color: #ccc !important;
}
.card {
    padding: 0;
    width: 100%;    
}

/*--------------------------------------------------------------
Header 
--------------------------------------------------------------*/
.header-area {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    padding: 25px 0;
}
.header-sticky {
    position: fixed;
    background: #fff;
    transition: 0.4s;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    padding: 15px 0;
    z-index: 3;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    padding: 10px 0;
    z-index: 3333;
}
.navbar-light .navbar-nav .nav-link {
    color: #2a2a2a;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #0F4B87;
}

.hero-area {
    height: 860px;
    position: relative;
    background-image: url(../img/hero/hero-bg.jpg);
    background-position: center center;
    background-size: cover;
}
.hero-content {
    padding-top: 100px;
    position: relative;
}
.hero-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.hero-content h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
    font-weight: 900;
}
.hero-content p {
    font-family: 'Oswald', sans-serif;
    color: #0F4B87;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 17px;
}







/*hours-features-area*/
.hours-features-area {
    position: relative;
    z-index: 1;
}
.hours-features-area:before,
.hours-features-area:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #008FE3;
    z-index: -1;
}
.hours-features-area:after {
    left: auto;
    right: 0;
    background: #F0F5F6;
}
.open-hourse {
    color: #fff;
    
}
.open-hourse h2,
.features h2 {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 140px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.open-hourse p.phone {
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
}
.open-hourse p {
    font-size: 16px;
}
.open-hourse p span {
    display: inline-block;
    font-size: 14px;
    color: #ccc;
    width: 70px;
}




















.features  {
    padding-left: 100px;
}
.features h2 {
    color: #252525;
}
.feature-image-wrap {
    width: 100%;
    height: 50px;
}
.feature-single h4 {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
}
.open-hourse p.phone {
    padding-left: 73px;
    position: relative;
    margin-bottom: 30px;
    
}
.open-hourse p.phone span {position: absolute;left: 0;top: 70%;transform: translateY(-50%);}
.rounded-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 25px 0;
    text-transform: uppercase;
}
.rounded-btn:hover {
    background-color: #333;
    color: #ccc;
}
/*hours-features-area*/



























.about-us-text h2 {
    margin-bottom: 25px;
    font-size: 30px;
    width: 150px;
}

.about-us-text .author {
    margin-top: 35px;
}

.about-us-text .author p {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.about-us-text .author h6 {
    margin-bottom: 0;
    font-size: 18px;
}



.about-us-single .card-body {
    padding: 48px 30px; 
}

.about-us-single h4.card-text span {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #777;
    margin-bottom: 10px;
}
.about-us-single h4.card-text {
    margin-bottom: 0;
}





























.t-author-image {
    margin-right: 20px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
}

.t-author-text p {
    letter-spacing: 1px;
    line-height: 2;
}

.t-author-name {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 700;
    color: #ccc;
    font-family: 'Open Sans', sans-serif;
}
.testimonial-carousel .owl-dots {
    margin-left: 63px;
    margin-top: 15px;
}
.testimonial-carousel .owl-dots div {
    display: inline-block;
    width: 11px;
    height: 11px;
    background: #E1E1E1;
    margin-right: 15px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}
.testimonial-carousel .owl-dots div.active {
    background: #0F4B87;
}
.testimonial-carousel .owl-dots div:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    transform: scale(1.6);
    border: 1px solid transparent;
    border-radius: 50%;
}
.testimonial-carousel .owl-dots div.active:after {
    border: 1px solid #0F4B87;
}











.service-area{
    padding-bottom: 0;
}
  .ps-sec {
    padding-left: 220px;
    padding-top: 75px;
    padding-bottom: 110px;
}
.ps-timeline li{
  margin-top: 45px;
}
.ps-sp-top{
background: #0072BC;
color: #fff;
font-size: 34px;
border-radius: 50%;
padding: 25px 30px 25px 30px;
float: left;

}
.ps-text{
  margin-left: 125px;
  font-family: 'Oswald', sans-serif;

}
.ps-text h3{
font-weight: bold;
font-size: 18px;
line-height: 26px;
text-align: left;
color: #222;

}
.ps-text .text-muted{
width: 370px;
height: 88.67px;
font-family: "Open Sans";
font-weight: normal;
font-size: 14px;
line-height: 26px;
text-align: left;
color: #a1a1a1;
margin-left: 0;

}
.ps-sp-bot{
font-family: 'Oswald', sans-serif;
font-weight: 300;
font-size: 36px;
line-height: 26px;
text-align: left;
color: #ccc;
float: left;
margin-left: 26px;


}
.ps-bot p{
font-weight: 300;
font-size: 14px;
line-height: 24px;
text-align: left;
color: #222;
margin-left: 125px;

}
.ps-bottom-text{
margin-top: 80px;
font-family: 'Raleway', sans-serif;
font-weight: 900;
font-size: 30px;
line-height: 72px;
text-align: left;


}
.services-left{
  background: #F0F5F6;
}

.services-right{
  background: url(../img/best-service/best-service.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
}


.services-text-right{
    position: absolute;
    top: 50%;
    left: 14%;
}
.services-text-right h3{
font-family: 'Oswald', sans-serif;
font-weight: bold;
font-size: 30px;
text-align: left;
color: #000;
text-transform: uppercase;

}

.services-text-right p{
font-family: "Open Sans";
font-weight: 300;
font-style: italic;
font-size: 14px;
line-height: 26px;
text-align: left;
color: #555;

}









.single-counter p.counter {
    font-style: italic;
}
.single-counter p.counter span {
    display: block;
    font-size: 38px;
    color: #000;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin-bottom: 15px;
}






























.docotors-speech {
    padding-left: 100px;
}
.docotors-speech h2 {
    font-size: 35px;
}
.speech-carousel .owl-nav {
    text-align: right;
    margin-top: 50px;
}
.speech-carousel .owl-nav div {
    display: inline-block;
    margin-left: 30px;
    width: 27px;
    height: 46px;
    background-image: url(../img/carousel/prev.png);
    background-position: center;
    background-size: auto;
}
.speech-carousel .owl-nav div.owl-next {
    background-image: url(../img/carousel/next.png);
}

































/*contact-area*/
.contact-area {
    padding: 80px 30px;
    position: relative;
}
.contact-form ::placeholder {
    color: #fff;
    font-style: italic;
}
.contact-form input, 
.contact-form textarea {
    width: 100%;
    margin-bottom: 30px;
    border: 0;
    border-bottom: 1px dashed #fff;
    background: transparent;
    padding: 15px 0;
    resize: none;
}
.bg-sky-blue .section-title h2{
    color: #fff;

}
.bg-sky-blue .section-title p{
    color: #ccc;

}

/*
button.form-btn {
    border: 0;
    height: 70px;
    width: 70px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 50%;
    margin: 0 auto;
}
*/


.rounded-btn.form-btn {
    border: 0;
    bottom: -125px;
    background: #fff;
    color: #000;
}
/*contact-area*/












/*banner-area*/
.banner-area {
    height: 720px;
    background-image: url(../img/banner/banner-bg.jpg);
    background-position: center center;
    background-size: cover;
}
.banner-text h2 {
    font-size: 70px;
    color: #fff;
}

.banner-text p {
    color: #008FE3;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 10px;
}
/*banner-area*/


/*blog-area*/
.single-post {
    position: relative;
    padding-left: 120px;
}
.post-meta-date-month {
    position: absolute;
    left: 0;
    top: 0;
}
.post-day {
    font-size: 80px;
    color: #E2E7E6;
    line-height: 1;
    font-weight: 700;
}
.post-month {
    position: absolute;
    top: 53%;
    background: transparent;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 18px;
    font-style: italic;
    line-height: 1;
}

.post-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 600;
    line-height: 26px;
}
.post-title a {
    color: inherit;
}
.post-meta {
    margin-bottom: 30px;
}
.post-meta li {
    display: inline-block;
    margin-right: 7px;
    padding-right: 8px;
    color: #0072BC;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: 300;
    position: relative;
}

.post-meta li:last-child {
    margin-right: 0;
    padding-right: 0;
}
.post-text {
    margin-bottom: 35px;
}
.inline-btn {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #000 !important;
    letter-spacing: 4px;
    text-decoration: underline !important;
    font-size: 13px;
}
/*blog-area*/


/*address-area*/
.address-area {
    position: relative;
    width: 100%;
}
.address-area:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #008FE3;
    z-index: -1;
}
.map-wrap {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
}
.map-wrap iframe {
    width: 100%;
    height: 100%;
}

.contact-address-info {
    padding-left: 70px;
    color: #fff;
    position: relative;
}
.contact-address-info h2 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 25px;
}
.text-bottom-left {
    position: absolute;
    right: 0;
    bottom: -110px;
}

.text-bottom-left h1 {
    color: #fff;
    font-weight: 400;
    font-size: 70px;
    opacity: .4;
}
/*address-area*/
















/*footer-area*/
footer.footer-area {
    padding-top: 120px;
    padding-bottom: 80px;
}

.footer-widget h3 {
    color: #fff;
    margin-bottom: 30px;
    font-family: 'Oswald' sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
}

.tweets-post {
    position: relative;
    padding-left: 35px;
    margin-bottom: 30px;
    color: #9CCEFF;
}
.tweets-post p {
    color: #9CCEFF;
}
.tweets-post p a {
    color: #fff;
}

.tweets-post .icon {
    position: absolute;
    left: 0;
    color: #fff;
    font-size: 15px;
}


.footer-social a {
    display: inline-block;
    color: #fff;
    padding: 10px 11px;
    margin-top: 10px;
    font-size: 14px;
}
.footer-widget.about-physio {
/*    margin-top: 50px;*/
}
.footer-instagram a {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    margin-bottom: 30px;
}

.copyright-text {
    margin-top: 50px;
}
/*footer-area*/




/*hero-progress start*/
.circle-progress {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);    
}

.border-primary {
    border-color: #0F4B87!important;
}
.border-light {
    border-color: #ccc!important;
}
/*
.pg-bar {
    width: 534px;
    height: 534px;
    background-color: transparent;
    
}
*/


.progress {
  width: 500px;
  height: 500px;
  background: none;
  position: relative;
    z-index: 1;
}
.progress:after {content: "";position: absolute;left: -80px;top: 28px;width: 50%;height: calc(100%  + 60px);background: #fff;z-index: 1;transform: rotate(-13deg);}



/*
.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 40px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}
*/


.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 30px;
  border-style: solid;
  position: absolute;
  top: 0;
    animation: loading-1 1.2s linear forwards 1.8s;
    opacity: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 270px;
  border-bottom-right-radius: 270px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
    transform: rotate(180deg) !important;
}


.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  right: 250px;
  border-top-left-radius: 250px;
  border-bottom-left-radius: 250px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
    transform: rotate(-180deg) !important;
}

.progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}




@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        opacity: 1;
    }
}




/*hero-progress end*/



/*Preloader Start*/
.ctn-preloader {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: default;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9000;
}

.ctn-preloader .animation-preloader {
    z-index: 1000;
}

.ctn-preloader .animation-preloader .spinner {
    -webkit-animation: spinner 1s infinite linear;
    animation: spinner 1s infinite linear;
    border-radius: 50%;
    /*border: 1px solid #FCB518;
  border-top-color: #002E5B;*/
    border: 3px solid #eee;
    border-top-color: #0F4B87;
    height: 150px;
    margin: 0 auto 3.5em auto;
    width: 150px;
}

.ctn-preloader .animation-preloader .txt-loading {
    font: 5em 'Open Sans', sans-serif;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading {
    color: #eee;
    position: relative;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
    -webkit-animation: letters-loading 4s infinite;
    animation: letters-loading 4s infinite;
    color: #0F4B87;
    content: attr(data-text-preloader);
    left: 0;
    opacity: 0;
    font-family: "Poppins", sans-serif;
    position: absolute;
    top: -3px;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(8):before {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.ctn-preloader.dark .animation-preloader .spinner {
    border-color: rgba(255, 255, 255, 0.2);
    border-top-color: #fff;
}

.ctn-preloader.dark .animation-preloader .txt-loading .letters-loading {
    color: rgba(255, 255, 255, 0.2);
}

.ctn-preloader.dark .animation-preloader .txt-loading .letters-loading:before {
    color: #fff;
}

.ctn-preloader p {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #3b3b3b;
}

.ctn-preloader .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    z-index: 1;
    pointer-events: none;
}

.ctn-preloader .loader .row {
    height: 100%;
}

.ctn-preloader .loader .loader-section {
    padding: 0px;
}

.ctn-preloader .loader .loader-section .bg {
    background-color: #ffffff;
    height: 100%;
    left: 0;
    width: 100%;
    -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

.ctn-preloader .loader.dark_bg .loader-section .bg {
    background: #111339;
}

.ctn-preloader.loaded .animation-preloader {
    opacity: 0;
    -webkit-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.ctn-preloader.loaded .loader-section .bg {
    width: 0;
    -webkit-transition: 0.7s 0.3s allcubic-bezier(0.1, 0.1, 0.1, 1);
    -o-transition: 0.7s 0.3s allcubic-bezier(0.1, 0.1, 0.1, 1);
    transition: 0.7s 0.3s allcubic-bezier(0.1, 0.1, 0.1, 1);
}

@-webkit-keyframes spinner {
    to {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes spinner {
    to {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@-webkit-keyframes letters-loading {

    0%,
    75%,
    100% {
        opacity: 0;
        -webkit-transform: rotateY(-90deg);
        transform: rotateY(-90deg);
    }

    25%,
    50% {
        opacity: 1;
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

@keyframes letters-loading {

    0%,
    75%,
    100% {
        opacity: 0;
        -webkit-transform: rotateY(-90deg);
        transform: rotateY(-90deg);
    }

    25%,
    50% {
        opacity: 1;
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

@media screen and (max-width: 767px) {
    .ctn-preloader .animation-preloader .spinner {
        height: 8em;
        width: 8em;
    }

    .ctn-preloader .animation-preloader .txt-loading {
        font: bold 3.5em "Poppins", sans-serif;
    }
}

@media screen and (max-width: 500px) {
    .ctn-preloader .animation-preloader .spinner {
        height: 7em;
        width: 7em;
    }

    .ctn-preloader .animation-preloader .txt-loading {
        font: bold 2em "Poppins", sans-serif;
    }
}
.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
    left: -3px;
    top: 8px;
}

/*Preloader End*/